:root{
    --green:#5BC07B;
    --blue:#2A5BA6;
    --black:#171a1c;
    --white:#F9F9F8;
    --grey:#F2F3F2;
    --padding: 8%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--black);
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}

.gender-choice{
    display: flex;
    flex-direction: row;
}

.gender-choice input{
    height: 15px;
    width: 15px;
}

h5{
    font-size: 0.9rem;
    color: var(--black);
    font-weight: normal;
}

a{
    text-decoration: none;
    color: var(--green);
}

.login{
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
}

.container-logo{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container-logo img{
    width: 190px;
    height: 80px;
    margin-top: 20px;
    margin-left: 40px;
    cursor: pointer;
}

.container-login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-text{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-text h1{
    font-size: 2.5rem;
    color: var(--green);
    font-family: poppins;
}

.container-form{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form{
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.form-one{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
}
.form-two{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
}

form label{
    font-size: 1rem;
    margin-left: 3px;
}

form input{
    height: 40px;
    width: 80%;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    border: solid 1px ;
    padding-left: 10px;
}

textarea{
    width:100%;
    max-width:100%;
    max-height:30%;
    resize: none;
    padding: 10px;
    color: var(--black);
    background-color: var(--white);
}

.loginbtn{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
    border: solid 0px;
    cursor: pointer;
    font-weight: bold;
    width: 80%;
}

#showpass{
    height: 10px;
    width: 10px;
}

.showpass{
    font-size: 0.8rem;
}

.show{
    display: flex;
    align-items: center;
}

.art{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#5BC07B,#2A5BA6);
}




.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  
  .theme span{
      margin: auto;
      font-size: 30px;
      color: var(--black);
      font-weight: bold;
  }
  
  .theme{
      background-color: var(--white);
      height: 60px;
      width: 60px;
      position: fixed;
      bottom: 30px;
      right: 30px;
      padding: auto;
      border-radius: 50%;
      border: 1.5px solid var(--black);
      display: flex;
      justify-content:center;
      cursor: pointer;
  }
  
  .theme:hover{
      opacity: 0.8;
  }
  
.file{
    padding: 8px 0 10px 10px;

}
  
  